html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
nav,
header,
footer,
section,
main {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1.page-title {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
}
